.counter {
    width: 25%;
    height: 10%;
    float: left;
    text-align: center;
    font-size: 30px;
    background-image: url("http://www.africanoralhistory.com/imgs/bg.jpg");
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    padding-top: 15px;
    padding-bottom: 25px;
    margin-top: -5%;
    margin-bottom: 10px;
  }